.container {
  padding: 6rem;
}

.button {
  text-decoration: none;
  background-color:var(--primary);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
  .container{
    padding-inline: 2rem;
  }
}

@media (max-width: 900px) {
  .container{
    padding: 4rem 2rem;
  }
}