@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --primary: #ffffff;
  --text: #111517;
  --input: #858585;
  --background: #fafafa;
  --hover: #eee;

  --border-radius: 6px;
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  height: 100vh;
  color: var(--text);
}

input,
button {
  color: var(--text);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  background-color: var(--primary);
}

input::placeholder {
  color: inherit;
}

a {
  text-decoration: none;
}

.dark {
  --primary: #2b3945;
  --text: #fff;
  --background: #202c37;
  --input: #fff;
  --hover: #43515e;
  --shadow: rgba(0, 0, 0, 0.7);
  --shadow-dark: rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
