@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-mode-primary: #2b3945;
  --light-mode-primary: #ffffff;
  --light-mode-text: #111517;
  --light-Mode-input: #858585;
  --dark-mode-background: #202c37;
  --light-mode-background: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  height: 100vh;
}
